/* style.css by Yarflam */

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

html {
	height: 100%;
}

body {
	height: inherit;
	background-color: #263238;
}

/* Useless */

.useless {
	display: block;
	height: inherit;
	text-align: center;
	white-space: nowrap;
}

.useless:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em;
}

.useless > span {
	position: relative;
	display: inline-block;
	width: 400px; height: 400px;
	background-color: #546E7A;
	-webkit-border-radius: 400px;
	-moz-border-radius: 400px;
	-o-border-radius: 400px;
	border-radius: 400px;
	font-family: 'Roboto', 'Calibri', 'Cambria', 'Arial';
	font-size: 40px;
	text-shadow: 0 0 10px rgba(0,0,0,0.5);
	line-height: 400px;
	color: #FFF;
	vertical-align: middle;
	cursor: default;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.useless > span::before {
	content: '';
	position: absolute;
	top: -20px; left: -20px;
	width: 420px; height: 420px;
	-webkit-border-radius: 420px;
	-moz-border-radius: 420px;
	-o-border-radius: 420px;
	border-radius: 420px;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 50px rgba(0,0,0,0.5);
	-o-box-shadow: 0 0 50px rgba(0,0,0,0.5);
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	border: 10px dashed #546E7A;
	z-index: -1;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.useless > span:hover {
	-webkit-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}